a#back-to-top(href='index.html#' title='Back to top')
  i.feather.icon.icon-chevron-up
footer.site-footer
  .container
    .row
      .col.mb-2
        section#text-1.widget.widget_text
          h5.widget-title FOLLOW US
          .textwidget
            ul.social-icons.kc-elm.list-unstyled.list-inline
              li.list-inline-item
                a.social-ico(href='#' target='_blank' rel='noopener noreferrer')
                  i.fab.fa-lg.fa-instagram
              li.list-inline-item
                a.social-ico(href='#' target='_blank' rel='noopener noreferrer')
                  i.fab.fa-lg.fa-facebook
              li.list-inline-item
                a.social-ico(href='#' target='_blank' rel='noopener noreferrer')
                  i.fab.fa-lg.fa-pinterest
              li.list-inline-item
                a.social-ico(href='#' target='_blank' rel='noopener noreferrer')
                  i.fab.fa-lg.fa-twitter
              li.list-inline-item
                a.social-ico(href='#' target='_blank' rel='noopener noreferrer')
                  i.fab.fa-lg.fa-youtube
      .col.mb-2
        section#nav_menu-1.widget.widget_nav_menu
          h5.widget-title SUBSCRIBE
          .menu-subscribe-container
            ul#menu-subscribe.menu
              li#menu-item-1024.menu-item.menu-item-type-post_type.menu-item-object-product.menu-item-1024
                a(title='\
                ' href='#') Get this Month&rsquo;s Box
              li#menu-item-1029.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1029
                a(title='\
                ' href='#') Gift a Box
              li#menu-item-808.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-808
                a(title='\
                ' href='#') Past Boxes
      .col.mb-2
        section#nav_menu-2.widget.widget_nav_menu
          h5.widget-title EXPLORE
          .menu-explore-container
            ul#menu-explore.menu
              li#menu-item-1025.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1025
                a(title='						' href='#') About Us
              li#menu-item-526.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-526
                a(title='scroll' href='/#how-it-works') How it Works
              li#menu-item-527.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-527
                a(title='scroll' href='/#faq') FAQ
              li#menu-item-1026.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1026
                a(title='						' href='#') Blog
              li#menu-item-1028.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1028
                a(title='						' href='#') Contact
      .col.mb-2
        section#nav_menu-3.widget.widget_nav_menu
          h5.widget-title LEGAL
          .menu-legal-container
            ul#menu-legal.menu
              li#menu-item-528.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-528
                a(title='\
                ' href='#') Privacy Policy
              li#menu-item-529.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-529
                a(title='\
                ' href='#') Terms and Conditions
              li#menu-item-530.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-530
                a(title='\
                ' href='#') Shipping &amp; Returns
      .col-4.col-alt.mb-2
        section#text-2.widget.widget_text
          h5.widget-title NEWSLETTER
          .textwidget
            script.
              (function() {
              if (!window.mc4wp) {
              window.mc4wp = {
              listeners: [],
              forms    : {
              on: function (event, callback) {
              window.mc4wp.listeners.push({
              event   : event,
              callback: callback
              });
              }
              }
              }
              }
              })();
            // Mailchimp for WordPress v4.3.3 - https://wordpress.org/plugins/mailchimp-for-wp/
            form#mc4wp-form-1.mc4wp-form.mc4wp-form-522(method='post' data-id='522' data-name='Newsletter Form')
              .mc4wp-form-fields
                //
                  <p>
                  <input class="form-control br-0 br-w" type="email" name="EMAIL" placeholder="Your email address" required />
                  <input class="btn btn-primary br-0 btn-block mt-2" type="submit" value="Sign up" />
                  </p>
                .form-inline
                  .form-group
                    input.form-control.br-0.br-w(type='email' name='EMAIL' placeholder='Your email address' required='')
                    input.br-0.btn.btn-primary(type='submit' value='Sign up')
              label(style='display: none !important;')
                | Leave this field empty if you&apos;re human: 
                input(type='text' name='_mc4wp_honeypot' value='' tabindex='-1' autocomplete='off')
              input(type='hidden' name='_mc4wp_timestamp' value='1574976572')
              input(type='hidden' name='_mc4wp_form_id' value='522')
              input(type='hidden' name='_mc4wp_form_element_id' value='mc4wp-form-1')
              .mc4wp-response
            // / Mailchimp for WordPress Plugin
// #footer
// only text
.subfooter.text-center
  .container
    .row
      .col-lg-12
        span.small &copy; 2019 DIEM BOX.
// text with menu