extends layout

block content
  #content.site-content
    .kc_clfw
    section.kc-elm.kc-css-101174.kc_row(data-kc-equalheight='true' data-kc-equalheight-align='middle')
      .kc-row-container.kc-container
        .kc-wrap-columns
          .kc-elm.kc-css-685966.kc_col-sm-6.kc_column.kc_col-sm-6
            .kc-col-container
              .kc-elm.kc-css-43993.kc-title-wrap
                h1.kc_title
                  | Beauty is
                  br
                  i Easy
                  |  and 
                  i Accessible.
              .kc-elm.kc-css-753618.kc_text_block.lead
                p
                  | Vestibulum tempus ac mauris ac convallis. Donec vulputate volutpat sem nec dignissim.
              span.kc-elm.kc-css-737529
                a.btn.btn-nm.btn-custom(href='/products' target='_self') EXPLORE NOW
          .kc-elm.kc-css-654969.kc_col-sm-6.kc_column.kc_col-sm-6
            .kc-col-container
    section#how-it-works.kc-elm.kc-css-467044.kc_row
      .kc-row-container.kc-container
        .kc-wrap-columns
          .kc-elm.kc-css-629053.kc_col-sm-12.kc_column.kc_col-sm-12
            .kc-col-container
              .kc-elm.kc-css-279537.kc-title-wrap
                h2.kc_title How it Works?
              .kc-elm.kc-css-460075.kc-title-wrap
                h6.kc_title Beauty is just a click away.
              .kc-elm.kc-css-977939.kc_row.kc_row_inner
                .kc-elm.kc-css-51703.kc_col-sm-4.kc_column_inner.kc_col-sm-4
                  .kc_wrapper.kc-col-inner-container
                    .kc-elm.kc-css-753710.kc-feature-boxes.kc-fb-layout-1.step-box
                      .content-icon
                        i.thebox-laptop
                      .content-title 1. ORDER
                      .content-desc Proin eget pretium sem. Donec feugiat, neque id bibendum congue, risus augue.
                .kc-elm.kc-css-301705.kc_col-sm-4.kc_column_inner.kc_col-sm-4
                  .kc_wrapper.kc-col-inner-container
                    .kc-elm.kc-css-385693.kc-feature-boxes.kc-fb-layout-1.step-box
                      .content-icon
                        i.thebox-gift-2
                      .content-title 2. GET IT
                      .content-desc Proin eget pretium sem. Donec feugiat, neque id bibendum congue, risus augue.
                .kc-elm.kc-css-205127.kc_col-sm-4.kc_column_inner.kc_col-sm-4
                  .kc_wrapper.kc-col-inner-container
                    .kc-elm.kc-css-258683.kc-feature-boxes.kc-fb-layout-1.step-box
                      .content-icon
                        i.thebox-gift-1
                      .content-title 3. EXPLORE
                      .content-desc Proin eget pretium sem. Donec feugiat, neque id bibendum congue, risus augue.
    section#whats-inside.kc-elm.kc-css-702190.kc_row(data-kc-equalheight='true' data-kc-equalheight-align='middle')
      .kc-row-container.kc-container
        .kc-wrap-columns
          .kc-elm.kc-css-194928.kc_col-sm-5.kc_column.kc_col-sm-5
            .kc-col-container
              .kc-elm.kc-css-80675.kc_tabs.group.kc-tabs-slider
                .owl-carousel(data-owl-options='{"items":1,"speed":450,"navigation":"","pagination":"yes","autoheight":"","autoplay":"","tablet":1,"mobile":1}')
                  #new-tab.kc-elm.kc-css-420560.kc_tab.ui-tabs-panel.kc_ui-tabs-hide.kc_clearfix
                    .kc_tab_content
                      .kc-elm.kc-css-546672.kc_shortcode.kc_single_image
                        img.img-fluid(src='wp-content/uploads/2019/03/month_box.png' alt='')
                  #new-kc_tab.kc-elm.kc-css-824562.kc_tab.ui-tabs-panel.kc_ui-tabs-hide.kc_clearfix
                    .kc_tab_content
                      .kc-elm.kc-css-544625.kc_shortcode.kc_single_image
                        img.img-fluid(src='wp-content/uploads/2019/03/month_box2.png' alt='')
          .kc-elm.kc-css-275537.kc_col-sm-7.kc_column.kc_col-sm-7
            .kc-col-container
              .kc-elm.kc-css-805143.kc-title-wrap
                h2.kc_title What&apos;s inside the box?
              .kc-elm.kc-css-164871.kc_text_block.lead
                p
                  | Sed at ante eget tellus ornare pharetra vel ac odio. Aliquam luctus velit nunc orci pharetra, tortor ut, feugiat leo.
              .kc-elm.kc-css-837755.kc_text_block.list-icon
                ul.list-unstyled
                  li Duis ac blandit ipsum.
                  li Etiam finibus iaculis imperdiet.
                  li Donec finibus tincidunt massa quis feugiat.
                  li Risus imperdiet id fusce vitae facilisi.
                  li Nam sed mauris ornare, tempus elit quis.
                  li Morbi ullamcorper id lorem vitae varius.
              .kc-elm.kc-css-166331.kc_row.kc_row_inner
                .kc-elm.kc-css-625748.kc_col-sm-4.kc_column_inner.kc_col-sm-4
                  .kc_wrapper.kc-col-inner-container
                    .kc-elm.kc-css-588359.kc-feature-boxes.kc-fb-layout-3.d-flex.align-items-center
                      .content-icon
                        i.thebox-scooter
                      .box-right
                        .content-title Free Shipping
                .kc-elm.kc-css-415534.kc_col-sm-5.kc_column_inner.kc_col-sm-5
                  .kc_wrapper.kc-col-inner-container
                    .kc-elm.kc-css-409939.kc-feature-boxes.kc-fb-layout-3.d-flex.align-items-center
                      .content-icon
                        i.thebox-medal-1
                      .box-right
                        .content-title 100% Satisfaction
                .kc-elm.kc-css-182348.kc_col-sm-4.kc_column_inner.kc_col-sm-4
                  .kc_wrapper.kc-col-inner-container
                    .kc-elm.kc-css-222568.kc-feature-boxes.kc-fb-layout-3.d-flex.align-items-center
                      .content-icon
                        i.thebox-24-hours-1
                      .box-right
                        .content-title Cancel Anytime
    section.kc-elm.kc-css-927035.kc_row.text-center
      .kc-row-container.kc-container
        .kc-wrap-columns
          .kc-elm.kc-css-786522.kc_col-sm-12.kc_column.kc_col-sm-12
            .kc-col-container
              .kc-elm.kc-css-904053.kc-title-wrap
                h6.kc_title BRANDS WE USED
              #brand-carousel.kc-elm.kc-css-106461
                .kc-elm.kc-css-467741
                  .item.align-self-center
                    .kc-elm.kc-css-391491.kc_shortcode.kc_single_image
                      img(src='wp-content/uploads/2019/03/beauty_logo1.jpg' alt='')
                .kc-elm.kc-css-914392
                  .item.align-self-center
                    .kc-elm.kc-css-14635.kc_shortcode.kc_single_image
                      img(src='wp-content/uploads/2019/03/beauty_logo2.jpg' alt='')
                .kc-elm.kc-css-519675
                  .item.align-self-center
                    .kc-elm.kc-css-243348.kc_shortcode.kc_single_image
                      img(src='wp-content/uploads/2019/03/beauty_logo3.jpg' alt='')
                .kc-elm.kc-css-777159
                  .item.align-self-center
                    .kc-elm.kc-css-375071.kc_shortcode.kc_single_image
                      img(src='wp-content/uploads/2019/03/beauty_logo4.jpg' alt='')
                .kc-elm.kc-css-391381
                  .item.align-self-center
                    .kc-elm.kc-css-945573.kc_shortcode.kc_single_image
                      img(src='wp-content/uploads/2019/03/beauty_logo5.jpg' alt='')
                .kc-elm.kc-css-800208
                  .item.align-self-center
                    .kc-elm.kc-css-140703.kc_shortcode.kc_single_image
                      img(src='wp-content/uploads/2019/03/beauty_logo6.jpg' alt='')
                .kc-elm.kc-css-792159
                  .item.align-self-center
                    .kc-elm.kc-css-214360.kc_shortcode.kc_single_image
                      img(src='wp-content/uploads/2019/03/beauty_logo7.jpg' alt='')
              script.
                jQuery(document).ready(function($){
                $("#brand-carousel").slick({
                arrows: false,
                infinite: true,
                dots: false,
                autoplay: false,
                slidesToShow: 7,
                slidesToScroll: 7,
                centerMode: false,
                rtl: false,
                responsive: [
                {
                breakpoint: 767,
                settings: {
                arrows: false,
                centerMode: false,
                centerPadding: '0px',
                slidesToShow: 1,
                slidesToScroll: 1,
                }
                },
                ]
                });
                });
    section.kc-elm.kc-css-742716.kc_row
      .kc-row-container.kc-container
        .kc-wrap-columns
          .kc-elm.kc-css-26481.kc_col-sm-12.kc_column.kc_col-sm-12
            .kc-col-container
              .kc-elm.kc-css-250935.kc-title-wrap
                h2.kc_title Next Shipment
              .kc-elm.kc-css-777378.kc-title-wrap
                h6.kc_title Hurry Up for Glow!
              .kc-elm.kc-css-720142
                .kc-countdown-timer(data-countdown='{"date":"2019\/12\/05","template":"<span class=\"countdown-style2\"> <span class=\"group\"> <span class=\"timer days\">%D<\/span> <span class=\"unit\">days<\/span> <\/span> <span class=\"group\"> <span class=\"timer seconds\">%H<\/span> <span class=\"unit\">hours<\/span> <\/span> <span class=\"group\"> <span class=\"timer seconds\">%M<\/span> <span class=\"unit\">minutes<\/span> <\/span> <span class=\"group\"> <span class=\"timer seconds\">%S<\/span> <span class=\"unit\">seconds<\/span> <\/span> <\/span>"}')
    section#pricing.kc-elm.kc-css-416738.kc_row
      .kc-row-container.kc-container
        .kc-wrap-columns
          .kc-elm.kc-css-669098.kc_col-sm-12.kc_column.kc_col-sm-12
            .kc-col-container
              .kc-elm.kc-css-714460.kc-title-wrap
                h2.kc_title Choose Your Membership
              .kc-elm.kc-css-196561.kc-title-wrap
                h6.kc_title Join Today
              .kc-elm.kc-css-61337.kc_row.kc_row_inner
                .kc-elm.kc-css-351154.kc_col-sm-4.kc_column_inner.kc_col-sm-4
                  .kc_wrapper.kc-col-inner-container
                    .tc-custom-pricing.tc-pricing-1.kc-elm.kc-css-724983
                      .pricing-title
                        span.title MONTHLY
                      .pricing-block(style='background-image: url(wp-content/uploads/2019/03/bg-brush-blue.png)')
                        span.price $41.90/mo
                      ul.list-unstyled.content-desc
                        li
                          | Re-bills every month
                        li
                          | Cancel anytime
                        li
                          | Free Shipping
                        li   
                      a.btn.btn-sm.btn-dark(href='  index.html@p=804.html' target='_self') GET THE BOX
                .kc-elm.kc-css-619654.kc_col-sm-4.kc_column_inner.kc_col-sm-4
                  .kc_wrapper.kc-col-inner-container
                    .tc-custom-pricing.tc-pricing-1.kc-elm.kc-css-192985
                      .pricing-title
                        span.title 6 MONTHS
                      .pricing-block(style='background-image: url(wp-content/uploads/2019/03/bg-brush-red.png)')
                        span.price $39.95/mo
                      ul.list-unstyled.content-desc
                        li
                          | Re-bills every 6 months
                        li
                          | Cancel anytime
                        li Free Shipping  
                      a.btn.btn-sm.btn-dark(href='index.html@p=841.html' target='_self') GET THE BOX
                .kc-elm.kc-css-442215.kc_col-sm-4.kc_column_inner.kc_col-sm-4
                  .kc_wrapper.kc-col-inner-container
                    .tc-custom-pricing.tc-pricing-1.kc-elm.kc-css-108791
                      .pricing-title
                        span.title 12 MONTHS
                      .pricing-block(style='background-image: url(wp-content/uploads/2019/03/bg-brush-orange.png)')
                        span.price $37.95/mo
                      ul.list-unstyled.content-desc
                        li
                          | Re-bills every 12 months
                        li
                          | Cancel anytime
                        li Free Shipping  
                      a.btn.btn-sm.btn-dark(href='index.html@p=842.html' target='_self') GET THE BOX
              .kc-elm.kc-css-137844.kc_text_block
                p
                  | Morbi id aliquam odio. Phasellus malesuada varius elit in luctus. Donec id sapien eu ligula cursus venenatis at sed nunc.
    section#faq.kc-elm.kc-css-974987.kc_row
      .kc-row-container.kc-container
        .kc-wrap-columns
          .kc-elm.kc-css-739451.kc_col-sm-12.kc_column.kc_col-sm-12
            .kc-col-container
              .kc-elm.kc-css-978291.kc-title-wrap
                h4.kc_title Frequently Asked Questions
              .kc-elm.kc-css-44968.kc_row.kc_row_inner
                .kc-elm.kc-css-274151.kc_col-sm-6.kc_column_inner.kc_col-sm-6
                  .kc_wrapper.kc-col-inner-container
                    .kc-elm.kc-css-70810.kc_accordion_wrapper(data-allowopenall='true')
                      .kc-elm.kc-css-531705.kc_accordion_section.group
                        h3.kc_accordion_header.ui-accordion-header
                          span.ui-accordion-header-icon.ui-icon
                          a(href='index.html#what-will-i-get-in-my-beauty-box' data-prevent='scroll')
                            i
                            |  What will I get in my beauty box?
                        .kc_accordion_content.ui-accordion-content.kc_clearfix
                          .kc-panel-body
                            .kc-elm.kc-css-481672.kc_text_block
                              p
                                | Aliquam in luctus velit, et porta nunc. Maecenas sed orci pharetra, finibus tortor ut, feugiat leo. Integer dapibus lorem lorem, sed feugiat lorem rhoncus et.
                      .kc-elm.kc-css-605501.kc_accordion_section.group
                        h3.kc_accordion_header.ui-accordion-header
                          span.ui-accordion-header-icon.ui-icon
                          a(href='index.html#are-your-products-natural-and-vegan' data-prevent='scroll')
                            i
                            |  Are your products natural and vegan?
                        .kc_accordion_content.ui-accordion-content.kc_clearfix
                          .kc-panel-body
                            .kc-elm.kc-css-234147.kc_text_block
                              p
                                | Aliquam in luctus velit, et porta nunc. Maecenas sed orci pharetra, finibus tortor ut, feugiat leo. Integer dapibus lorem lorem, sed feugiat lorem rhoncus et.
                .kc-elm.kc-css-979701.kc_col-sm-6.kc_column_inner.kc_col-sm-6
                  .kc_wrapper.kc-col-inner-container
                    .kc-elm.kc-css-199417.kc_accordion_wrapper(data-allowopenall='true')
                      .kc-elm.kc-css-963005.kc_accordion_section.group
                        h3.kc_accordion_header.ui-accordion-header
                          span.ui-accordion-header-icon.ui-icon
                          a(href='index.html#when-will-my-first-box-ship' data-prevent='scroll')
                            i
                            |  When will my first box ship?
                        .kc_accordion_content.ui-accordion-content.kc_clearfix
                          .kc-panel-body
                            .kc-elm.kc-css-672838.kc_text_block
                              p
                                | Aliquam in luctus velit, et porta nunc. Maecenas sed orci pharetra, finibus tortor ut, feugiat leo. Integer dapibus lorem lorem, sed feugiat lorem rhoncus et.
                      .kc-elm.kc-css-702421.kc_accordion_section.group
                        h3.kc_accordion_header.ui-accordion-header
                          span.ui-accordion-header-icon.ui-icon
                          a(href='index.html#how-do-i-cancel-my-subscription' data-prevent='scroll')
                            i
                            |  How do I cancel my subscription?
                        .kc_accordion_content.ui-accordion-content.kc_clearfix
                          .kc-panel-body
                            .kc-elm.kc-css-534020.kc_text_block
                              p
                                | Aliquam in luctus velit, et porta nunc. Maecenas sed orci pharetra, finibus tortor ut, feugiat leo. Integer dapibus lorem lorem, sed feugiat lorem rhoncus et.
    section.kc-elm.kc-css-164153.kc_row
      .kc-row-container.kc-container
        .kc-wrap-columns
          .kc-elm.kc-css-40476.kc_col-sm-12.kc_column.kc_col-sm-12
            .kc-col-container
              .kc-elm.kc-css-217048.kc-title-wrap
                h2.kc_title Past Boxes
              .kc-elm.kc-css-61282.kc-title-wrap
                h6.kc_title Purchase the past boxes
              #past-boxes.kc-elm.kc-css-63827
                .past-box-thumb.mr-2.ml-2
                  .row
                    .col-lg-6.align-self-center
                      a(href='index.html@p=854.html')
                        img.img-fluid(src='wp-content/uploads/2019/03/month_box4.png' alt='September Box')
                    .col-lg-6.align-self-center
                      h2.product-title
                        a(href='index.html@p=854.html') September Box
                      p.price
                        ins
                          span.woocommerce-Price-amount.amount
                            span.woocommerce-Price-currencySymbol $
                            | 36.90
                .past-box-thumb.mr-2.ml-2
                  .row
                    .col-lg-6.align-self-center
                      a(href='index.html@p=851.html')
                        img.img-fluid(src='wp-content/uploads/2019/03/month_box3.png' alt='October Box')
                    .col-lg-6.align-self-center
                      h2.product-title
                        a(href='index.html@p=851.html') October Box
                      p.price
                        ins
                          span.woocommerce-Price-amount.amount
                            span.woocommerce-Price-currencySymbol $
                            | 36.90
                .past-box-thumb.mr-2.ml-2
                  .row
                    .col-lg-6.align-self-center
                      a(href='index.html@p=857.html')
                        img.img-fluid(src='wp-content/uploads/2019/03/month_box5.png' alt='November Box')
                    .col-lg-6.align-self-center
                      h2.product-title
                        a(href='index.html@p=857.html') November Box
                      p.price
                        ins
                          span.woocommerce-Price-amount.amount
                            span.woocommerce-Price-currencySymbol $
                            | 31.90
                        del
                          span.woocommerce-Price-amount.amount
                            span.woocommerce-Price-currencySymbol $
                            | 36.90
              script.
                jQuery(document).ready(function($){
                $("#past-boxes").slick({
                arrows: false,
                infinite: true,
                dots: false,
                autoplay: false,
                slidesToShow: 2,
                slidesToScroll: 2,
                centerMode: false,
                rtl: false,
                responsive: [
                {
                breakpoint: 767,
                settings: {
                arrows: false,
                centerMode: false,
                centerPadding: '0px',
                slidesToShow: 1,
                slidesToScroll: 1,
                }
                },
                ]
                });
                });
    section.kc-elm.kc-css-888340.kc_row
      .kc-row-container.kc-container
        .kc-wrap-columns
          .kc-elm.kc-css-366104.kc_col-sm-12.kc_column.kc_col-sm-12
            .kc-col-container
              .kc-elm.kc-css-376728.kc-title-wrap
                h2.kc_title Why Choose the Beauty Box?
              .kc-elm.kc-css-513840.kc_row.kc_row_inner
                .kc-elm.kc-css-844460.kc_col-sm-4.kc_column_inner.kc_col-sm-4
                  .kc_wrapper.kc-col-inner-container
                    .kc-elm.kc-css-761980.kc-feature-boxes.kc-fb-layout-1.ls-2h
                      .content-icon
                        i.cosmetic-cream-2
                      .content-title 100% CRUELTY-FREE
                      .content-desc Proin eget pretium sem. Donec feugiat, neque id bibendum congue, risus augue.
                .kc-elm.kc-css-156726.kc_col-sm-4.kc_column_inner.kc_col-sm-4
                  .kc_wrapper.kc-col-inner-container
                    .kc-elm.kc-css-322554.kc-feature-boxes.kc-fb-layout-1.ls-2h
                      .content-icon
                        i.cosmetic-lipstick
                      .content-title VEGAN
                      .content-desc Proin eget pretium sem. Donec feugiat, neque id bibendum congue, risus augue.
                .kc-elm.kc-css-938846.kc_col-sm-4.kc_column_inner.kc_col-sm-4
                  .kc_wrapper.kc-col-inner-container
                    .kc-elm.kc-css-507497.kc-feature-boxes.kc-fb-layout-1.ls-2h
                      .content-icon
                        i.cosmetic-makeup-6
                      .content-title PARABEN-FREE
                      .content-desc Proin eget pretium sem. Donec feugiat, neque id bibendum congue, risus augue.
    section.kc-elm.kc-css-601643.kc_row(data-kc-fullwidth='content')
      .kc-row-container
        .kc-wrap-columns
          .kc-elm.kc-css-483313.kc_col-sm-12.kc_column.kc_col-sm-12
            .kc-col-container
              .kc-elm.kc-css-310854.kc-title-wrap
                h2.kc_title What People are saying?
              #testimonial.kc-elm.kc-css-923241
                .kc-elm.kc-css-900613
                  .item.align-self-center
                    .kc-elm.kc-css-192115
                      .testimonial.ml-3.mr-3
                        img.img-fluid.rounded-circle(src='wp-content/uploads/2019/03/testimonial1.jpg' alt='')
                        p.testimonial-content.lead
                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                          | Fusce id dui a orci vehicula hendrerit. Nullam luctus quam eu purus consequat blandit.
                        h5.author-title Jennifer Curtis
                .kc-elm.kc-css-624018
                  .item.align-self-center
                    .kc-elm.kc-css-1391
                      .testimonial.ml-3.mr-3
                        img.img-fluid.rounded-circle(src='wp-content/uploads/2019/03/testimonial2.jpg' alt='')
                        p.testimonial-content.lead
                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                          | Fusce id dui a orci vehicula hendrerit. Nullam luctus quam eu purus consequat blandit.
                        h5.author-title Mattie Sanders
                .kc-elm.kc-css-665248
                  .item.align-self-center
                    .kc-elm.kc-css-73236
                      .testimonial.ml-3.mr-3
                        img.img-fluid.rounded-circle(src='wp-content/uploads/2019/03/testimonial3.jpg' alt='')
                        p.testimonial-content.lead
                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                          | Fusce id dui a orci vehicula hendrerit. Nullam luctus quam eu purus consequat blandit.
                        h5.author-title Lucy Hunt
                .kc-elm.kc-css-802290
                  .item.align-self-center
                    .kc-elm.kc-css-237772
                      .testimonial.ml-3.mr-3
                        img.img-fluid.rounded-circle(src='wp-content/uploads/2019/03/testimonial4.jpg' alt='')
                        p.testimonial-content.lead
                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                          | Fusce id dui a orci vehicula hendrerit. Nullam luctus quam eu purus consequat blandit.
                        h5.author-title Pamela Rodriguez
                .kc-elm.kc-css-497978
                  .item.align-self-center
                    .kc-elm.kc-css-504395
                      .testimonial.ml-3.mr-3
                        img.img-fluid.rounded-circle(src='wp-content/uploads/2019/03/testimonial5.jpg' alt='')
                        p.testimonial-content.lead
                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                          | Fusce id dui a orci vehicula hendrerit. Nullam luctus quam eu purus consequat blandit.
                        h5.author-title Jenny Sanchez
                .kc-elm.kc-css-592380
                  .item.align-self-center
                    .kc-elm.kc-css-274907
                      .testimonial.ml-3.mr-3
                        img.img-fluid.rounded-circle(src='wp-content/uploads/2019/03/testimonial6.jpg' alt='')
                        p.testimonial-content.lead
                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                          | Fusce id dui a orci vehicula hendrerit. Nullam luctus quam eu purus consequat blandit.
                        h5.author-title June Mills
              script.
                jQuery(document).ready(function($){
                $("#testimonial").slick({
                arrows: false,
                infinite: true,
                dots: false,
                autoplay: false,
                slidesToShow: 3,
                slidesToScroll: 3,
                centerMode: false,
                rtl: false,
                responsive: [
                {
                breakpoint: 767,
                settings: {
                arrows: false,
                centerMode: false,
                centerPadding: '0px',
                slidesToShow: 1,
                slidesToScroll: 1,
                }
                },
                ]
                });
                });
    section.kc-elm.kc-css-136142.kc_row
      .kc-row-container.kc-container
        .kc-wrap-columns
          .kc-elm.kc-css-108925.kc_col-sm-12.kc_column.kc_col-sm-12
            .kc-col-container
              .kc-elm.kc-css-320230.kc-title-wrap
                h6.kc_title FOLLOW US ON INSTAGRAM
              #instadabeauty.instagram_feed.kc-elm.kc-css-606578
              script.
                (function($){
                $(window).on("load", function(){
                $.instagramFeed({
                "username": "instadabeauty",
                "container": "#instadabeauty",
                "display_profile": false,
                "display_biography": false,
                "display_gallery": true,
                "get_raw_json": false,
                "callback": null,
                "styling": true,
                "items": 4,
                "items_per_row": 4,
                "margin": 1
                });
                });
                })(jQuery);
  // #content